################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/backend/AuthenticationAPI/Hrdummya.db
/backend/AuthenticationAPI/Hrdummya.db-shm
/backend/AuthenticationAPI/Hrdummya.db-wal
/backend/AuthenticationAPI/Migrations
/backend/AuthenticationAPI/Hrdummy.db
/backend/AuthenticationAPI/Hrdummy.db-shm
/backend/AuthenticationAPI/Hrdummy.db-wal
/backend/AuthenticationAPI/Hrdummy.db
